#traffic_light {
    display: inline-block;
    background-color: gray;
    height: 400px;
    width: 200px;
}
.light {
    padding: 15px;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: white;
    border-radius: 50%;
}

button {
    width: 200px;
    height: 50px;
}

#red {
    background-color: rgb(251, 3, 3);
    opacity: 0.4;

}

#yellow {
    background-color: yellow;
    opacity: 0.4;
}

#green {
    background-color: green;
    opacity: 0.4
}